/* 공통의 코드 */

/* IR 기법 */
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

/* 스킵 네비게이션 영역 */
#skipNav {
  position: absolute;
  top: 0;
  left: 0;
}
#skipNav a {
  position: absolute;
  white-space: nowrap;
  padding: 5px;
  background-color: #000;
  color: #fff;
  top: -100px;
}
#skipNav a:focus,
#skipNav a:active {
  top: 0;
}

/* 스프라이트 배경 */
#header .search-form .btn-keyboard::before,
#header .search-form .btn-auto::before,
#header .util-area [class*="btn-"]::after,
#header .nav-item [class*="ic-"]::before,
#header .nav-item [class*="ic-"]::after {
  content: "";
  display: block;
  background-image: url("../images/sp_main_01.png");
  background-size: 442px 434px;
  background-repeat: no-repeat;
}
