/* 공통의 코드 */

/* IR 기법 */
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

/* 스킵 네비게이션 영역 */
#skipNav {
  position: absolute;
  top: 0;
  left: 0;
}
#skipNav a {
  position: absolute;
  white-space: nowrap;
  padding: 5px;
  background-color: #000;
  color: #fff;
  top: -100px;
}
#skipNav a:focus,
#skipNav a:active {
  top: 0;
}

/* 스프라이트 배경 */
#header .search-form .btn-keyboard::before,
#header .search-form .btn-auto::before,
#header .util-area [class*="btn-"]::after,
#header .nav-item [class*="ic-"]::before,
#header .nav-item [class*="ic-"]::after,
#main .sc-news .ic-live::before,
#main .sc-news .group-issue .btn-all::after,
#main [class*="btn-"].round::before,
#main .view-area [class*="btn-"]::before,
#main .sc-login .link-login::before {
  content: "";
  display: block;
  background-image: url("../images/sp_main_01.png");
  background-size: 442px 434px;
  background-repeat: no-repeat;
}

.quick-menu-area .menu-item a [class*="ic-"]::before {
  content: "";
  display: block;
  background-image: url(../images/sp_main_02.png);
  background-repeat: no-repeat;
  background-size: 158px 137px;
}

.sc-recipe .recommend-item.ad .ad-mark,
#main > .col-right > .ad-banner .ad-mark {
  background-image: url(../images/sp_main_03.png);
  background-repeat: no-repeat;
  background-size: 100px 90px;
}

/* 공통 프레임 1 */
.common-frame {
  background-color: #fff;
  background-color: var(--color_block_bg);
  border-radius: 8px;
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  overflow: hidden;
}
.common-frame + .common-frame {
  margin-top: 16px;
}

/* 공통 프레임 2 */
.common-frame-inner {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  background: rgba(245, 248, 251, 0.6);
  overflow: hidden;
}
a .common-frame-inner:has(> img) img {
  will-change: transform;
  transition: transform 0.2s ease-in-out;
}
a:hover .common-frame-inner:has(> img) img {
  transform: scale(1.05);
}

/* 공통 탭 메뉴 */
html[data-dark="true"] .group-header .tab-item a {
  color: rgba(255, 255, 255, 0.55);
}
.group-header.tab-menu {
  padding: 18px 20px 17px;
}
.group-header.tab-menu .tab-list {
  display: flex;
}
.group-header.tab-menu .tab-item [aria-selected="true"] {
  color: var(--color_title);
}
.sc-shopping .tab-item:nth-child(n + 2),
.sc-recipe .tab-item:nth-child(n + 2) {
  position: relative;
  padding-left: 26px;
}
.sc-shopping .tab-item:nth-child(n + 2):before,
.sc-recipe .tab-item:nth-child(n + 2):before {
  content: "";
  position: absolute;
  top: 4px;
  left: 13px;
  width: 1px;
  height: 15px;
  background-color: var(--color_dot_divider);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
}
.group-header.tab-menu .tab-item a {
  font-size: 1.6rem;
  line-height: 23px;
  font-weight: 800;
  color: rgba(8, 8, 8, 0.5);
  -webkit-font-smoothing: antialiased;
}

/* 공통 컨트롤 영역 */
.group-control {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 56px;
  border-top: 1px solid var(--color_border_in);
  position: relative;
  padding: 10px 20px 11px;
}
.group-control .control-area {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.control-area .page {
  display: flex;
  flex-direction: row;
  padding: 0 16px;
  color: var(--color_caption2);
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 35px;
}
.control-area .page .more {
  padding-right: 5px;
}
.control-area .page .more span {
  padding-right: 5px;
  color: var(--color_news);
}
.control-area .page .total {
  color: rgba(96, 96, 96, 0.5);
}

/* 공통 round 버튼 */
[class*="btn-"].round {
  width: 36px;
  height: 36px;
  border: 1px solid var(--color_button_border);
  background-color: var(--color_button1_bg);
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 50%;
}
[class*="btn-"].round::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: -299px -422px;
  width: 10px;
  height: 12px;
  margin: auto;
}
.btn-prev.round::before {
  transform: rotate(180deg);
}

/* 링크 마우스 hover underline */
#main .sc-news a:hover,
#main .sc-shopping a:hover,
.group-header.tab-menu .tab-item a:hover,
.sc-recipe [class*="-item"] a:hover .post-title,
#footer a:hover {
  text-decoration: underline;
}

/* 광고 마크 */
.ad-mark {
  width: 42px;
  height: 16px;
  margin: 2px 4px;
  background-position: 0px -20px;
  position: absolute;
  top: 0;
  right: 0;
}
