/* 메인페이지 index */
body {
  font-size: 1.4rem;
  line-height: 1.7rem;
}

/* 메인 영역 */
#main {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
  padding-bottom: 60px;
}
#main > .col-left {
  width: 830px;
}
#main > .col-left > .ad-banner img {
  width: 830px;
  height: 130px;
}

/* 메인 > 뉴스스탠드 탭 메뉴 영역 */
.sc-news .tab-item:nth-child(2) a {
  display: flex;
  align-items: center;
}
.sc-news .tab-item:nth-child(2) a::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--color_dot_divider);
  border-radius: 50%;
  margin: 0 8px;
}
.sc-news .tab-item:nth-child(n + 3) {
  position: relative;
  padding-left: 26px;
}
.sc-news .tab-item:nth-child(n + 3):before {
  content: "";
  position: absolute;
  top: 4px;
  left: 13px;
  width: 1px;
  height: 15px;
  background-color: var(--color_dot_divider);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
}
.sc-news .tab-list .tab-item:nth-child(4) a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.sc-news .tab-item:nth-child(4) a .ic-live {
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: var(--color_live_news_price);
  padding: 0 5px 0 4px;
  border-radius: 9px;
  font-size: 1.1rem;
  line-height: 18px;
  font-weight: 900;
  color: #fff;
}
#main .sc-news .ic-live::before {
  background-position: -310px -288px;
  width: 14px;
  height: 10px;
  margin-top: 1px;
}

/* 메인 > 뉴스스탠드 이슈 영역 */
.sc-news .group-issue {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: var(--color_option_bg);
  line-height: 26px;
}
.sc-news .group-issue .issue-area {
  display: flex;
  flex: 1;
}
.sc-news .group-issue .issue-area .btn-all {
  display: flex;
  align-items: center;
  gap: 5px;
}
#main .sc-news .group-issue .btn-all::after {
  background-position: -153px -176px;
  width: 9px;
  height: 6px;
}
.sc-news .group-issue .issue-area .link-media {
  display: flex;
  align-items: center;
  padding-left: 12px;
}
.sc-news .group-issue .issue-area .link-media::before {
  content: "";
  width: 1px;
  height: 12px;
  margin-right: 12px;
  background-color: var(--color_dot_divider);
}
.sc-news .group-issue .issue-area .link-media::after {
  content: "";
  width: 3px;
  height: 3px;
  background-color: var(--color_dot_divider);
  margin: 0 6px;
  border-radius: 50%;
}
.sc-news .group-issue .issue-area .link-issue {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sc-news .group-issue .news-area {
  display: flex;
  align-items: center;
}
.sc-news .group-issue .news-area .link-news:last-child {
  display: flex;
  align-items: center;
  padding-left: 12px;
  font-weight: bold;
}
.sc-news .group-issue .news-area .link-news:last-child::before {
  content: "";
  width: 1px;
  height: 12px;
  margin-right: 12px;
  background-color: var(--color_dot_divider);
}

/* 메인 > 뉴스스탠드 미디어 영역 */
.sc-news .group-media {
  margin: 18px 20px 18px 20px;
  position: relative;
  height: 224px;
  border: 1px solid var(--color_border_in);
  border-radius: 4px;
  overflow: hidden;
}
.sc-news .group-media .media-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
}
.sc-news .group-media .media-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.sc-news .group-media [class*="vt"] {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #ebebeb;
}
.sc-news .group-media .vt1 {
  left: calc(100% / 6 * 1);
}
.sc-news .group-media .vt2 {
  left: calc(100% / 6 * 2);
}
.sc-news .group-media .vt3 {
  left: calc(100% / 6 * 3);
}
.sc-news .group-media .vt4 {
  left: calc(100% / 6 * 4);
}
.sc-news .group-media .vt5 {
  left: calc(100% / 6 * 5);
}
.sc-news .group-media [class*="hr"] {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
}
.sc-news .group-media .hr1 {
  top: calc(100% / 4 * 1);
}
.sc-news .group-media .hr2 {
  top: calc(100% / 4 * 2);
}
.sc-news .group-media .hr3 {
  top: calc(100% / 4 * 3);
}
.sc-news .group-media .media-item {
  position: relative;
}
.sc-news .group-media .media-item:hover .news-info {
  display: flex;
}
.sc-news .group-media .media-item .news-info {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2868f2;
}
.sc-news .media-item .news-info a {
  height: fit-content;
  font-size: 1.3rem;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
}
.sc-news .media-item .news-info a:last-child::before {
  content: "";
  width: 1px;
  height: 12px;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.3);
}
.sc-news .media-item .news-info a:hover {
  font-weight: bold;
}

/* 메인 > 뉴스스탠드 더보기 영역 */
.sc-news .group-control .view-area {
  display: flex;
  gap: 20px;
}
.sc-news .view-area .btn-list::before {
  width: 20px;
  height: 20px;
  background-position: -397px -354px;
}
.sc-news .view-area .btn-list:hover::before {
  background-position: -397px -333px;
}
.sc-news .view-area .btn-thumb::before {
  width: 20px;
  height: 20px;
  background-position: -422px -231px;
}
.sc-news .view-area .btn-thumb:hover::before {
  background-position: -422px -210px;
}

/* 쇼핑 영역 */
.sc-shopping .group-header {
  display: flex;
  justify-content: space-between;
}

/* 쇼핑 > 좌측 상단 페이지네이션 영역 */
.sc-shopping .pagination-area {
  display: flex;
}
.sc-shopping .pagination-area .page {
  display: flex;
  align-items: center;
  margin-right: 9px;
  color: var(--color_caption2);
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 16px;
}
.sc-shopping .page .total {
  color: rgba(113, 113, 113, 0.6);
}
.sc-shopping .pagination-area [class*="btn-"] {
  width: 30px;
  height: 30px;
  position: relative;
  border: 1px solid rgba(211, 213, 215, 0.8);
  border-radius: 4px 0 0 4px;
}
.sc-shopping .pagination-area [class*="ic-"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 7px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.sc-shopping .btn-prev .ic-prev::before {
  margin-left: 2px;
  border-left: 2px solid #80868c;
  border-bottom: 2px solid #80868c;
  margin-left: 1px;
}
.sc-shopping .pagination-area .btn-next {
  border-left: none;
  border-radius: 0 4px 4px 0;
}
.sc-shopping .btn-next .ic-next::before {
  margin-left: -2px;
  border-top: 2px solid #80868c;
  border-right: 2px solid #80868c;
  margin-left: -1px;
}
.sc-shopping .pagination-area [class*="btn-"]:hover {
  background-color: #fbfbfc;
}
.sc-shopping .pagination-area [class*="btn-"]:hover [class*="ic-"]::before {
  border-color: #2a2c2f;
}

/* 쇼핑 > 커머스 리스트 영역 */
.sc-shopping .group-commerce {
  display: flex;
  gap: 20px;
  padding: 0 20px 1px;
}
.sc-shopping .group-commerce .mall-area {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 9px 11px;
}
.sc-shopping .group-commerce .mall-list {
  display: flex;
  justify-content: space-between;
}
.sc-shopping .mall-list {
  display: flex;
  align-items: center;
}
.sc-shopping .mall-list .dot {
  width: 3px;
  height: 3px;
  background-color: var(--color_dot_divider);
  border-radius: 50%;
}
.sc-shopping .mall-item a {
  color: var(--color_caption1);
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.6px;
}
.sc-shopping .mall-item a strong {
  color: var(--color_body);
  font-weight: bold;
}

/* 쇼핑 > 퀵 메뉴 영역 */
.sc-shopping .group-commerce .quick-menu-area {
  margin-top: 12px;
  padding: 9px;
}
.group-commerce .quick-menu-area .menu-list {
  display: flex;
}
.group-commerce .quick-menu-area .menu-item {
  flex: 1;
}
.quick-menu-area .menu-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}
.quick-menu-area .menu-item a [class*="ic-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(238, 242, 248, 0.8);
}
.quick-menu-area .menu-item a [class*="ic-"]::before {
  width: 32px;
  height: 32px;
}
.quick-menu-area .menu-item a .ic-home::before {
  background-position: -34px 0;
}
.quick-menu-area .menu-item a .ic-review::before {
  background-position: -68px -34px;
}
.quick-menu-area .menu-item a .ic-order::before {
  background-position: -34px -34px;
}
.quick-menu-area .menu-item a .ic-cart::before {
  width: 17px;
  height: 16px;
  background-position: -19px -121px;
}
.quick-menu-area .menu-item a span {
  color: var(--color_caption1);
  font-size: 13px;
  line-height: 20px;
}

/* 쇼핑 > 광고 배너 영역 */
.sc-shopping .group-commerce .ad-banner {
  margin-top: 12px;
}
.sc-shopping .group-commerce .ad-banner a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.sc-shopping .group-commerce .ad-banner a img {
  width: 248px;
  height: 146px;
  aspect-ratio: auto 248 / 146;
}
.sc-shopping .ad-banner a span {
  font-size: 1.3rem;
  line-height: 19px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 쇼핑 > 제품 리스트 영역 */
.sc-shopping .group-commerce > .col-right {
  width: 522px;
}
.sc-shopping .col-right .product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 14px 8px;
  height: 100%;
}
.sc-shopping .col-right .product-item {
  min-width: 0;
}
.sc-shopping .col-right .product-item a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.sc-shopping .product-item img {
  width: 98px;
  height: 126px;
}
.sc-shopping .product-item .product-desc {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  line-height: 19px;
  letter-spacing: -0.4px;
  white-space: nowrap;
  overflow: hidden;
}

/* 쇼핑 > 오늘의 혜택 영역 */
.sc-shopping .group-benefits {
  margin: 18px 20px;
}
.sc-shopping .group-benefits .benefit-area {
  display: flex;
  gap: 9px;
  padding: 15px 20px 14px;
  border-radius: 4px;
  background-color: var(--color_option_bg);
  line-height: 21px;
}
.sc-shopping .group-benefits .benefit-area > span {
  display: flex;
  align-items: center;
  gap: 9px;
  font-weight: 700;
}
.sc-shopping .benefit-area > span::after {
  content: "";
  width: 3px;
  height: 3px;
  background-color: var(--color_dot_divider);
  border-radius: 50%;
}
.sc-shopping .group-benefits .benefit-area a {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  min-width: 0;
}
.sc-shopping .benefit-area a img {
  height: 13px;
}
.sc-shopping .benefit-area a > span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sc-shopping .benefit-area a > span em {
  color: #9858f5;
}

/* 쇼핑 > 하단 컨트롤 영역 */
.sc-shopping .control-area .page .more span {
  color: #9858f5;
}
.sc-shopping .group-control .ad-mark {
  width: 30px;
  border: 1px solid var(--color_border_out);
  color: var(--color_caption2);
  border-radius: 4px;
  font-size: 1.2rem;
  line-height: 18px;
  text-align: center;
}

/* 레시피 영역 */
.sc-recipe .group-feed {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.sc-recipe .group-feed .feed-area:not(:last-child) {
  border-bottom: 1px solid var(--color_border_in);
}
.sc-recipe .post-keyword {
  color: #ebaa00;
  font-size: 1.3rem;
  line-height: 20px;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sc-recipe .user-info {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 4px;
  font-size: 1.3rem;
  line-height: 20px;
}
.sc-recipe .user-info [class*="ic-user"] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url("../images/ic_user_01.jpg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
}
.sc-recipe .user-info [class*="ic-user"]::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.sc-recipe .user-info .name {
  color: var(--color_caption2);
  font-size: 1.3rem;
  line-height: 20px;
}

/* 레시피 > 상단 하이라이트 피드 영역 */
.sc-recipe .feed-area .highlight-list {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.sc-recipe .feed-area .highlight-item {
  flex: 1;
  min-width: 0;
}
.sc-recipe .feed-area .highlight-item a {
  display: flex;
  flex-direction: column;
}
.sc-recipe .feed-area .highlight-item a .common-frame-img {
  margin-bottom: 10px;
}
.sc-recipe .feed-area .highlight-item a img {
  width: 100%;
  height: 144px;
}
.sc-recipe .feed-area .highlight-item a strong {
  margin: 4px 0;
  line-height: 20px;
  font-size: 1.4rem;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sc-recipe .feed-area .highlight-item a span:last-child {
  color: var(--color_caption1);
  font-size: 1.3rem;
  line-height: 20px;
}

/* 레시피 > 그리드 피드 영역 */
.sc-recipe .two-column .recommend-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 28px;
  margin: 20px 0;
}
.sc-recipe .two-column .recommend-item a {
  display: flex;
  align-items: center;
  gap: 16px;
}
.sc-recipe .recommend-item a img {
  width: 154px;
  height: 100px;
}
.sc-recipe .recommend-wrap {
  flex: 1;
  min-width: 0;
}
.sc-recipe .recommend-wrap .post-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 21px;
  font-weight: 500;
}
.sc-recipe .recommend-wrap .user-info .ic-user01 {
  background-image: url("../images/ic_user_01.jpg");
}
.sc-recipe .recommend-wrap .user-info .ic-user02 {
  background-image: url("../images/ic_user_02.jpg");
}
.sc-recipe .recommend-wrap .user-info .ic-user03 {
  background-image: url("../images/ic_user_03.jpg");
}
.sc-recipe .recommend-wrap .user-info .ic-user04 {
  background-image: url("../images/ic_user_04.jpg");
}
.sc-recipe .recommend-wrap .user-info .ic-user05 {
  background-image: url("../images/ic_user_05.jpg");
}
.sc-recipe .recommend-wrap .user-info .ic-user06 {
  background-image: url("../images/ic_user_06.jpg");
}
.sc-recipe .recommend-wrap .user-info .ic-user07 {
  background-image: url("../images/ic_user_07.jpg");
}
.sc-recipe .recommend-wrap .user-info .ic-user08 {
  background-image: url("../images/ic_user_08.jpg");
}

/* 그리드 리스트 중 4번째 광고 영역 */
.sc-recipe .recommend-item.ad a:hover img {
  transform: scale(1);
}
.sc-recipe .recommend-item.ad .common-frame-img {
  position: relative;
}
.sc-recipe .recommend-item.ad .recommend-wrap {
  font-size: 15px;
}
.sc-recipe .recommend-item.ad .recommend-wrap .post-title {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sc-recipe .recommend-item.ad .recommend-wrap .post-context {
  color: #404040;
  margin-top: 2px;
}
.sc-recipe .recommend-item.ad .recommend-wrap .user-info {
  color: #606060;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}
.sc-recipe .recommend-item.ad .recommend-wrap .view-more {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 4px;
  color: #606060;
  font-size: 14px;
}

/* 레시피 > 테마별 레시피 영역 */
.sc-recipe .four-column {
  position: relative;
}
.sc-recipe .four-column h3 {
  padding-top: 20px;
  font-size: 1.5rem;
  line-height: 22px;
  font-weight: 800;
}
.sc-recipe .four-column .theme-wrap {
  padding: 20px 0;
  overflow: hidden;
}
.sc-recipe .four-column .theme-list {
  display: flex;
  gap: 20px;
}
.sc-recipe .four-column .theme-item {
  flex-shrink: 0;
  width: calc((100% - 60px) / 4);
}
.sc-recipe .theme-item .common-frame-img {
  margin-bottom: 10px;
}
.sc-recipe .theme-item a {
  display: block;
}
.sc-recipe .theme-item a img {
  width: 100%;
  height: 120px;
}
.sc-recipe .theme-item a .post-title {
  margin: 4px 0;
  font-weight: 500;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.sc-recipe .theme-item .user-info .ic-user08 {
  background-image: url("../images/ic_user_08.jpg");
}
.sc-recipe .theme-item .user-info .ic-user09 {
  background-image: url("../images/ic_user_09.jpg");
}
.sc-recipe .theme-item .user-info .ic-user10 {
  background-image: url("../images/ic_user_10.jpg");
}
.sc-recipe .theme-item .user-info .ic-user11 {
  background-image: url("../images/ic_user_11.png");
}
.sc-recipe .theme-item .user-info .ic-user12 {
  background-image: url("../images/ic_user_12.png");
}
.sc-recipe .four-column [class*="btn-"] {
  position: absolute;
  top: 103px;
}
.sc-recipe .four-column .btn-prev {
  display: none;
  left: -12px;
}
.sc-recipe .four-column .btn-next {
  right: -12px;
}

/* 레시피 > 하단 펼쳐보기 영역 */
.sc-recipe .group-control .control-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  color: var(--color_caption1);
  font-size: 1.3rem;
  line-height: 56px;
  font-weight: 600;
}
.sc-recipe .control-area .ic-plus {
  width: 10px;
  height: 10px;
  position: relative;
}
.sc-recipe .control-area .ic-plus::before,
.sc-recipe .control-area .ic-plus::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebaa00;
}
.sc-recipe .control-area .ic-plus::before {
  left: 50%;
  top: 4px;
  bottom: 4px;
  width: 100%;
  transform: translateX(-50%);
}
.sc-recipe .control-area .ic-plus::after {
  top: 50%;
  left: 4px;
  right: 4px;
  height: 100%;
  transform: translateY(-50%);
}

/* 메인 우측 영역 */
#main > .col-right {
  width: 420px;
}
h2[class*="-title"] {
  margin-bottom: 12px;
  color: var(--color_title);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 24px;
}

/* 메인 우측 로그인 영역 */
#main > .col-right > .sc-login {
  padding: 21px 20px 18px;
  line-height: 20px;
  text-align: center;
}
.sc-login .login-msg {
  font-size: 1.4rem;
}
.sc-login .link-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 13px;
  padding: 17px 0;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  background-color: #03c75a;
  box-shadow: 0 2px 4px 0 rgba(3, 199, 90, 0.12);
  color: #fff;
}
.sc-login .link-login:hover {
  background-color: #17b75e;
  box-shadow: 0 2px 4px 0 rgba(3, 199, 90, 0.24);
}
.sc-login .link-login::before {
  width: 72px;
  height: 14px;
  background-position: -142px -270px;
}
.sc-login .more-area {
  display: flex;
  justify-content: center;
  color: var(--color_caption2);
  margin-top: 16px;
  font-size: 1.3rem;
}
.sc-login .more-area a + a {
  display: flex;
  align-items: center;
}
.sc-login .more-area a + a::before {
  content: "";
  width: 1px;
  height: 10px;
  background-color: #ccc;
  margin: 0 8px;
}

/* 메인 우측 광고 날씨 배너 영역 */
#main > .col-right > .sc-weather {
  padding: 0 18px 15px 18px;
}
.sc-weather .weather-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  line-height: 40px;
  border-bottom: 1px solid var(--color_border_in);
}
.sc-weather .weather-title .title {
  display: flex;
  gap: 7px;
}
.sc-weather .weather-title .title .weather:hover {
  cursor: pointer;
  text-decoration: underline;
}
.sc-weather .weather-title .title .comparison {
  display: flex;
  align-items: center;
  gap: 2px;
  border: 1px solid var(--color_border_in_divider);
  background-color: var(--color_button1_bg);
  color: var(--color_caption2);
  height: 26px;
  margin-top: 7px;
  padding: 0 10px 0 7px;
  border-radius: 15px;
  font-size: 1.1rem;
  line-height: 25px;
  font-weight: 500;
}
.sc-weather .weather-title .title .comparison::before {
  background-position: -208.2px -422px;
  width: 12px;
  height: 12px;
}
.sc-weather .title .comparison:hover {
  background-color: #f8f8f8;
  color: #404040;
}
.sc-weather .title .comparison:hover::before {
  background-position: -195.2px -422px;
}
.sc-weather .weather-title .local {
  color: var(--color_caption2);
  font-size: 1.3rem;
  font-weight: 500;
}
.sc-weather .weather-wrap {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 8px 0 2px;
}
.sc-weather .weather-wrap .current-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex: 1;
}
.sc-weather .current-weather .current-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.sc-weather .current-box.top {
  display: flex;
  align-items: center;
  gap: 4px;
}
.sc-weather .current-box.top .ic-weather {
  background-position: -174px -87px;
}
.sc-weather .current-box.top .main-info {
  display: flex;
  flex-direction: column;
}
.sc-weather .current-box.top .main-info em {
  font-size: 3.9rem;
  line-height: 48px;
  letter-spacing: -2px;
}
.sc-weather .current-box.top .main-info span {
  padding-left: 5px;
  font-size: 1.4rem;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: -0.3px;
}
.sc-weather .current-box.bottom {
  display: flex;
  color: #3172e7;
}
.sc-weather .current-box.bottom span:last-child {
  display: flex;
  align-items: center;
  color: #cd3534;
}
.sc-weather .current-box.bottom span:last-child::before {
  content: "";
  width: 1px;
  height: 11px;
  background-color: var(--color_dot_divider);
  margin: 2px 5px 0 3px;
  transform: skewX(-15deg);
}
.sc-weather .current-weather .dust-box {
  display: flex;
  gap: 6px;
  font-size: 1.3rem;
  line-height: 20px;
}
.sc-weather .current-weather .dust.mise {
  display: flex;
  align-items: center;
}
.sc-weather .current-weather .dust.chomise::before {
  content: "";
  width: 3px;
  height: 3px;
  margin-right: 6px;
  background-color: var(--color_dot_divider);
  border-radius: 50%;
}
.sc-weather .current-weather .dust-box em {
  padding-left: 4px;
  color: #32a1ff;
}
.sc-weather .weather-wrap img {
  width: 180px;
  height: 143px;
}

/* 메인 우측 광고 증시 배너 영역 */
#main > .col-right > .sc-stock {
  padding: 0 18px 19px 18px;
}
.sc-stock .stock-title {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  line-height: 40px;
  border-bottom: 1px solid var(--color_border_in);
}
.sc-stock .stock-title .title {
  display: flex;
  align-items: center;
  gap: 2px;
}
.sc-stock .stock-title .title > a:first-child:hover {
  cursor: pointer;
  text-decoration: underline;
}
.sc-stock .stock-title .title .ic-info {
  margin: 4px;
  background-position: -169.2px -401px;
  width: 14px;
  height: 14px;
}
.sc-stock .stock-title .current {
  display: flex;
  align-items: center;
  gap: 1px;
  color: var(--color_caption2);
  font-size: 1.3rem;
  font-weight: 500;
}
.sc-stock .stock-title .current .ic-refresh {
  margin: 4px;
  background-position: -325px -307px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.sc-stock .stock-title .current .ic-refresh:hover {
  background-position: -308px -307px;
}
.sc-stock .stock-wrap {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: 4px 0 2px;
}
.sc-stock .stock-wrap .usd-box .info {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-bottom: 10px;
}
.sc-stock .usd-box .info .title {
  font-size: 15px;
  line-height: 18px;
}
.sc-stock .usd-box .info em {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.7px;
}
.sc-stock .usd-box .info .point {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #2196f3;
  font-size: 14px;
  line-height: 17px;
}
.sc-stock .usd-box .point span:first-child {
  display: flex;
  align-items: center;
  gap: 1px;
}
.sc-stock .usd-box .ic-down {
  background-position: -143px -422.4px;
  width: 12px;
  height: 12px;
}
.sc-stock .stock-wrap .usd-box > span {
  display: block;
  color: var(--color_caption2);
  margin-top: 11px;
  font-size: 1.3rem;
  line-height: 17px;
}
.sc-stock .stock-wrap > div {
  flex: 1;
}
.sc-stock .stock-wrap .popular-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.sc-stock .stock-wrap .popular-item {
  display: flex;
  align-items: center;
  height: 100%;
  border-bottom: 1px solid var(--color_border_in);
}
.sc-stock .stock-wrap .popular-item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height: 100%;
}
.sc-stock .popular-item:last-child {
  color: var(--color_caption2);
}
.sc-stock .popular-item:last-child a::after {
  background-position: -332px -422px;
  width: 10px;
  height: 12px;
}
.sc-stock .stock-wrap .popular-item a span {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}
.sc-stock .stock-wrap .popular-item em {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  color: #f44336;
}
.sc-stock .stock-wrap .popular-item em.up::before {
  background-position: -170px -422px;
  width: 12px;
  height: 12px;
}
.sc-stock .stock-wrap .popular-item em.down {
  color: #2196f3;
}
.sc-stock .stock-wrap .popular-item em.down::before {
  background-position: -144px -422px;

  width: 12px;
  height: 12px;
}

/* 메인 우측 광고 배너 영역 */
#main > .col-right > .ad-banner a {
  position: relative;
}

/* 메인 우측 광고 위젯 보드 영역 */
h3[class*="-title"] {
  padding: 16px;
  color: var(--color_title);
  font-size: 1.5rem;
  line-height: 20px;
  font-weight: 800;
}
#main > .col-right > .sc-widjet {
  background-color: var(--color_board_bg);
  padding: 15px 18px 0;
}
.sc-widjet .widget-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 12px;
}
.sc-widjet .widget-group > div {
  height: 192px;
  background-color: #fff;
  box-shadow: 0 0 0 1px #ebebeb, 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}
.sc-widjet .widget-group a {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.sc-widjet .widget-group a [class*="-wrap"] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.sc-widjet .widget-group .link-login {
  color: var(--color_caption2);
  text-decoration: underline;
}

/* 위젯 보드 캘린더 영역 */
.sc-widjet .calender-area a .calender-wrap {
  padding: 0 16px 16px;
}
.sc-widjet .calender-area a .date {
  display: flex;
  align-items: flex-end;
  gap: 9px;
  font-size: 1.3rem;
  line-height: 20px;
}
.sc-widjet .calender-area a .date em {
  font-size: 3.9rem;
  line-height: 36px;
  letter-spacing: -2px;
}

/* 위젯 보드 메모 영역 */
.sc-widjet .widget-group .memo-title {
  background-image: linear-gradient(to top, #00b869, #00c772);
  color: #fff;
}
.sc-widjet .widget-group .memo-title {
  position: relative;
}
.sc-widjet .widget-group .memo-title::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 2px;
  left: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.4) 70%,
    transparent 30%
  );
  background-size: 6px 1px;
}
.sc-widjet .widget-group .memo-item {
  padding: 0 18px;
  line-height: 46px;
  border-bottom: 1px solid var(--color_border_in_exception);
  color: transparent;
}
.sc-widjet .widget-group .memo-area .link-login {
  padding: 0 16px 16px;
}

/* 위젯 보드 파파고 영역 */
.sc-widjet .papago-title .ic-papago {
  background-position: 0px -270px;
  width: 76px;
  height: 17px;
}
.sc-widjet .papago-area .papago-wrap {
  align-items: center;
  padding: 0 16px 16px;
}
.sc-widjet .papago-area .papago-wrap::before {
  background-position: 0px 0px;
  width: 78px;
  height: 68px;
}
.sc-widjet .papago-wrap .btn-translate {
  padding: 0 35.5px;
  border-radius: 20px;
  background-color: #00a2ff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  font-size: 1.3rem;
  line-height: 40px;
  font-weight: bold;
  color: #fff;
}
.sc-widjet .papago-area a:hover .btn-translate {
  background-color: #1280e2;
}

/* 위젯 보드 사전 영역 */
.sc-widjet .widget-group .dictionary-area {
  position: relative;
}
.sc-widjet .widget-group .dictionary-area::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 4px;
  width: 14px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 0 1px #ebebeb, 0 1px 2px 0 rgba(0, 0, 0, 0.04);
}
.sc-widjet .dictionary-area a {
  position: relative;
  width: calc(100% - 8px);
  background-color: #fff;
  box-shadow: 0 0 0 1px #ebebeb, 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}
.sc-widjet .widget-group .dictionary-wrap {
  margin: 0 18px;
}
.sc-widjet .widget-group .dictionary-wrap::before {
  content: "";
  position: absolute;
  top: 49px;
  right: 0;
  bottom: 18px;
  left: 0;
  border-top: 1px solid #e8effb;
  background: radial-gradient(circle at bottom, #e8effb 1px, transparent 0) top /
    1px 21px;
}
.sc-widjet .dictionary-wrap .dictionary-box {
  height: 105px;
  z-index: 1;
}
.sc-widjet .dictionary-box p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  line-height: 21px;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: -0.2px;
}
.sc-widjet .dictionary-box .translate {
  display: none;
  font-size: 1.3rem;
  line-height: 21px;
  font-weight: 600;
  color: var(--color_caption2);
}
.sc-widjet .dictionary-box:hover .expression {
  display: none;
}
.sc-widjet .dictionary-box:hover .translate {
  display: block;
}
.sc-widjet .dictionary-area .search-keyword {
  position: absolute;
  right: 14px;
  bottom: 12px;
  width: 38px;
  height: 38px;
  border: 1px solid var(--color_button_border);
  background-color: var(--color_button2_bg);
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  z-index: 2;
}
.sc-widjet .dictionary-area .search-keyword span {
  display: none;
  margin-right: 23px;
  font-size: 1.3rem;
  line-height: 37px;
  font-weight: bold;
  color: #fff;
}
.sc-widjet .dictionary-area .search-keyword::after {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  background-position: -397px -75px;
  width: 24px;
  height: 24px;
}
.sc-widjet .dictionary-area .search-keyword:hover {
  background-color: var(--color_dic);
  border: 1px solid var(--color_dic);
  min-width: 122px;
  width: auto;
  height: 40px;
  padding: 0 9px 0 14px;
  border-radius: 20px;
}
.sc-widjet .dictionary-area .search-keyword:hover span {
  display: block;
}
.sc-widjet .dictionary-area .search-keyword:hover::after {
  background-position: -397px -50px;
}

/* 위젯 보드 vibe 영역 */
.sc-widjet .widget-group .vibe-area {
  grid-column: span 2;
  height: fit-content;
}
.sc-widjet .widget-group .vibe-area .title-wrap {
  display: flex;
  justify-content: space-between;
}
.sc-widjet .title-wrap .vibe-title {
  display: flex;
  align-items: center;
}
.sc-widjet .title-wrap .ic-vibe {
  width: 68px;
  height: 18px;
  margin-right: 8px;
  background-position: -69px -288px;
}
.sc-widjet .title-wrap .vibe-title span {
  color: var(--color_title);
  font-size: 1.5rem;
  line-height: 22px;
  font-weight: 800;
}
.sc-widjet .vibe-area .btn-refresh {
  display: flex;
  align-items: center;
  margin: 16px;
  color: var(--color_caption2);
  font-size: 1.3rem;
}
.sc-widjet .vibe-area .btn-refresh .ic-refresh {
  width: 14.7px;
  height: 16px;
  background-position: -177px -378.5px;
  margin-left: 5px;
}
.sc-widjet .vibe-area .btn-refresh:hover .ic-refresh {
  background-position: -160px -378.5px;
}
.sc-widjet .widget-group .vibe-area .music-list {
  display: flex;
  gap: 12px;
  padding: 0 18px 18px;
}
.sc-widjet .widget-group .vibe-area .music-item {
  flex: 1;
}
.sc-widjet .widget-group .vibe-area .music-item a {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: fit-content;
}
.sc-widjet .vibe-area .music-item .ic-play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 8px;
  bottom: 8px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}
.sc-widjet .vibe-area .ic-play::before {
  width: 7.6px;
  height: 10px;
  background-position: -359px -80px;
}
.sc-widjet .vibe-area .music-item span {
  display: -webkit-box;
  overflow: hidden;
  line-height: 20px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.sc-widjet .vibe-area .music-item:last-child {
  position: relative;
}
.sc-widjet .music-item:last-child::before,
.sc-widjet .music-item:last-child::after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.sc-widjet .music-item:last-child::before {
  top: 4px;
  right: -5px;
  height: 154px;
  background-color: #7a7b7c;
}
.sc-widjet .music-item:last-child::after {
  top: 8px;
  right: -10px;
  height: 146px;
  background-color: #d0d2d3;
}

/* 위젯 보드 모바일 열기 영역 */
.sc-widjet .link-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.sc-widjet .link-mobile::after {
  width: 8px;
  height: 12px;
  background-position: -361px -422px;
}
.sc-widjet .link-mobile > span {
  display: flex;
  align-items: center;
  line-height: 25px;
}
.sc-widjet .link-mobile > span::before {
  background-position: -397px -223px;
  width: 22px;
  height: 22px;
}
.sc-widjet .link-mobile em {
  font-weight: bold;
  padding: 0 5px 0 11px;
}

/* 메인 우측 하단 광고 슬라이드 영역 */
#main > .col-right > .ad-slide a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 18px;
}
.ad-slide .contents-area {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
}
.ad-slide .contents-area img {
  width: 42px;
  height: 42px;
}
.ad-slide .contents-area strong {
  color: var(--color_body);
  line-height: 20px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ad-slide .contents-area p {
  margin-top: 2px;
  line-height: 20px;
  color: var(--color_caption2);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ad-slide .pagination-area {
  display: flex;
  gap: 4px;
}
.ad-slide .pagination-area .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(128, 134, 140, 0.3);
}
.ad-slide .pagination-area .dot.active {
  background-color: #03c75a;
}
